.carousel-inner{
	height:400px;
}

.carousel-item{
	height:400px;
	background-size:cover !important;
	background-position:center center !important;
}

.container{
	margin-top:60px;
	padding-top:20px;
}

.row{
	margin-bottom:20px;
}


}

.list-group-item a:hover{
	text-decoration:none;
}

.list-group-item.active a{
	color:#FFF;
}

